<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) -%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= content_for :head %>
    <%= google_analytics_code.html_safe %>
  </head>
  <body>
    <%= yield %>

    <footer>
      <p>Lyrics are by their authors.</p>
      <p>Site code is <a href="http://github.com/alxndr/lyrem-ipsum">open at GitHub</a>.</p>
    </footer>
  </body>
</html>
